[user]
	name = Moritz Drexl
	email = mdrexl@fastmail.fm
[credential]
	helper = store
[core]
	editor = /run/current-system/sw/bin/vim
[puh]
	default = simple
[diff]
	tool = p4merge
[difftool "p4merge"]
  cmd = p4merge "$LOCAL" "$REMOTE"
[difftool]
	prompt = false
[merge]
  tool = p4merge
	conflictstyle = diff3
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  trustExitCode = true
[mergetool]
  prompt = false
  keepBackup = false
  keepTemporaries = false
[push]
	default = simple
